@model GiftRegistry.Models.ImageModel

<div class="row d-flex justify-content-center">
    <div class="col-6">

        <div class="">
            @if (Model.ImageData != null)
            {
                var base64 = Convert.ToBase64String(Model.ImageData);
                var imageSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img id="uploadedPicture" class="mb-2" src="@imageSrc" alt="Uploaded image" />
            }

        </div>

        <div class="text-center">

            <input type="file" id="imageFile" name="imageFile" style="display: none;" />
            <input type="button" class="btn btn-outline-secondary" value="Upload" onclick="document.getElementById('imageFile').click();" />

            <div class="btn btn-outline-secondary">
                <span id="random-image-btn">Randomize</span>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    $(function () {
        $(document).on("change", "#imageFile", function () {

            // Call image controller to read file and return ImageID
            // Update ImageID field
            // Update image src

            if (this.files && this.files[0]) {
                var reader = new FileReader();
                var url;
                reader.onload = function (e) {
                    $('#uploadedPicture').attr('src', e.target.result);
                    $("#ImageIDField").val("-1");

                }
                reader.readAsDataURL(this.files[0]);
                // Pass url back to controller here
            }

        });
    });

</script>

<script type="text/javascript">

    $(function RandomizeImage() {
        //Click event for the image randomize button

        // Call image controller to get random image and return ImageID
        // Update ImageID field
        // Update image src

         $("#random-image-btn").click(function (e) {

             var isPerson = $('#ImageIDField').hasClass("person-image");

             $.ajax({
                type: "GET",
                 url: "@(Url.Action("CreateRandomImageJSON", "_ImageUpload"))",
                 data: {isPerson: isPerson},
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var imageData = data.imageSrc;
                    $('#uploadedPicture').attr('src', imageData);

                    $("#ImageIDField").val(data.ImageID);
                },
                error: function () {
                    alert("Error");
                }
            });

        });


    });
</script>

<style>
    #uploadedPicture {
        width: 300px;
        height: auto;
        margin-top: 20px;
        border-radius: 18px;
    }
</style>
