@model GiftRegistry.Models.ImageModel

<div class="row d-flex justify-content-center">
    <div class="col-6">

        <div class="img-wrapper mt-3 mb-2">
            @if (Model.ImageData != null)
            {
                var base64 = Convert.ToBase64String(Model.ImageData);
                var imageSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img id="uploadedPicture" src="@imageSrc" alt="Uploaded image" />
            }

        </div>

        <div class="text-center">

            @*@using (Html.BeginForm("UploadImage", "_ImageUpload", null, FormMethod.Post, new { enctype = "multipart/form-data", @id = "image-upload-form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="file" id="imageFile" name="imageFile" style="display: none;" />
                    <input type="button" class="btn btn-gray-light" value="Upload" onclick="document.getElementById('imageFile').click();" />
                }*@

            <input type="file" id="imageFile" name="imageFile" style="display: none;" />  @*Will be on parent view*@
            <input type="button" class="btn btn-gray-light" value="Upload" onclick="document.getElementById('imageFile').click();" />

            <div class="btn btn-gray-light">
                <span id="random-image-btn">Randomize</span>
            </div>

        </div>
    </div>
</div>

@*@Scripts.Render("~/bundles/jquery")*@

<script type="text/javascript">

    $(function () {
        $(document).on("change", "#imageFile", function () {

            // Call image controller to read file and return ImageID
            // Update ImageID field
            // Update image src

            if (this.files && this.files[0]) {
                
                var file = this.files[0];
                //var reader = new FileReader();
                //reader.onload = function (e) {
                //    $('#uploadedPicture').attr('src', e.target.result);
                //    $("#ImageIDField").val("-1");
                //}
                //reader.readAsDataURL(file);

                // Now send that file to the controller
                var actionUrl = "@(Url.Action("UploadImage", "_ImageUpload"))";

                var sendData = { file: file };
                //alert("File to upload: " + sendData.file.name + "\nTarget address: " + actionUrl);

                var formdata = new FormData(); //FormData object
                //Iterating through each files selected in fileInput
                formdata.append(file.name, file);

                //Creating an XMLHttpRequest and sending
                var xhr = new XMLHttpRequest();
                xhr.open('POST', actionUrl);
                xhr.send(formdata);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // Success
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#uploadedPicture').attr('src', e.target.result);
                            $("#ImageIDField").val("-1");
                        }
                        reader.readAsDataURL(file);
                    }
                }
                return false;
            }

        });
    });

</script>

<script type="text/javascript">

    $(function RandomizeImage() {
        //Click event for the image randomize button

        // Call image controller to get random image and return ImageID
        // Update ImageID field
        // Update image src

         $("#random-image-btn").click(function (e) {

             var isPerson = $('#ImageIDField').hasClass("person-image");

             $.ajax({
                type: "GET",
                 url: "@(Url.Action("CreateRandomImageJSON", "_ImageUpload"))",
                 contentType: "application/json; charset=utf-8",
                    data: {isPerson: isPerson},
                success: function (data) {

                    var imageData = data.imageSrc;
                    $('#uploadedPicture').attr('src', imageData);
                    $("#ImageIDField").val(data.ImageID);
                },
                error: function () {
                    alert("Error");
                }
            });

        });


    });
</script>

<style>
    #uploadedPicture {
        width: 250px;
        height: auto;
        aspect-ratio: 1.0;
        object-fit: cover;
        transform: scale(1.15);
        transform-origin: 50% 50%;
        overflow: hidden;
        background-color: rgba(224, 184, 64, .25);
    }

    .img-wrapper {
        overflow: hidden;
        width: 250px;
        height: 250px;
        margin-top: 20px;
        border-radius: 50%;
        border: 1px solid rgba(143, 143, 143, .5);
    }
</style>
