@model IEnumerable<GiftRegistry.Models.FriendListItem>

@{
    ViewBag.Title = "Friends";
}

<h2 class="mt-4">Your Friends</h2>

<p>
    @Html.ActionLink("Add Friend", "Index", "Person")
</p>

<hr />

<div class="row row-gallery row-cols-1 row-cols-md-3 g-4 mb-2">

    @foreach (var item in Model)
    {
        @Html.Partial("_FriendListItemPartial", item)
    }

</div>

