@model IEnumerable<GiftRegistry.Models.PersonListItem_Stranger>

@{
    ViewBag.Title = "People You May Know";
}

<h2 class="mt-4">People You May Know</h2>

<hr />

<div class="row row-gallery row-cols-1 row-cols-md-3 g-4 mb-2">

    @foreach (var item in Model)
    {
        @Html.Partial("_PersonListItemPartial", item)
    }

</div> 